

.comment-buttons-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.comment-subcomments{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
}

.comment-container{
    width: 100%;
}