.table-div{

}

.our-table-main {
    width: 100%;

}

.res-table{

}

.thead-darkened{

}


.table-div{
    width: 100%;
    max-width: 100%;
}

.th-ourtable{
    text-align: center;
}

td {
    padding: 0.5rem;
    text-align: center;
    color: black;
}

th {
    padding: 0.5rem;
    color: white;
    background-color: #c0b9b9;
}

.th-even {
    background-color: #eeeef1;
}

.th-odd {
    background-color: #e0d8d8;
}