
.like-text{
    color: blue;
    font-weight: bolder;
}

.like-pressed{
    color: blue;
}

.like-not-pressed{
    color: green;
}


.favorite-text{
    color: red;
    font-weight: bolder;
}

.favorite-pressed{
    color: blue;
}

.favorite-not-pressed{
    color: orange;
}

.smile-text{
    color: rgb(228, 167, 15);
    font-weight: bolder;
}

.smile-pressed{
    color: blue;
}

.smile-not-pressed{
    color: black;
}

.frown-text{
    color: rgb(182, 61, 182);
    font-weight: bolder;
}

.frown-pressed{
    color: blue;
}

.frown-not-pressed{
    color: red;
}
