
.LIKE-text{
    color: blue;
    font-weight: bolder;
}

.LIKE-pressed{
    color: blue;
}

.LIKE-not-pressed{
    color: green;
}


.FAVOURITE-text{
    color: red;
    font-weight: bolder;
}

.FAVOURITE-pressed{
    color: blue;
}

.FAVOURITE-not-pressed{
    color: orange;
}

.SMILE-text{
    color: rgb(228, 167, 15);
    font-weight: bolder;
}

.SMILE-pressed{
    color: blue;
}

.SMILE-not-pressed{
    color: black;
}

.FROWN-text{
    color: rgb(182, 61, 182);
    font-weight: bolder;
}

.FROWN-pressed{
    color: blue;
}

.FROWN-not-pressed{
    color: red;
}
