@import '../../colors.scss';

.stars-rate-container{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
    color: $primary-color-text;
}

.stars-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
