

.title-data-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1rem;
    height: auto;
}

.title-data-text{
    margin-top: 0.6rem;
    border-bottom: solid;
    border-width: 0.1rem;
}