@import '../../../layout.scss';
@import '../../../colors.scss';

$marginLeftTitleText: 1rem;
$marginLeftTitleText: 1rem;

.title-margin{
    margin-left: $marginLeftTitleText;
    margin-top: $marginLeftTitleText;
}

.title-header-container{
    width: 100%;
    height: auto;
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: $marginLeftTitleText;
}

.title-header-img-container{
    width: 20%;
    height: auto;
    position: relative;
    max-height: 60vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
}

.title-header-img{
    height: 100%;
    width: 100%;
}

.title-header-text{
    width: 75%;
    background-color: $base-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.title-header-text-title{
    display: flex;
    flex-direction: row;
    font-size: $title-size;
    @extend .title-margin;
}

.title-header-text-rating{
    font-size: $title-size;
    @extend .title-margin;
}

.title-header-text-subtitle{
    font-size: $subtitle-size;
    @extend .title-margin;
}
