@import './Cast.scss';
@import './Data.scss';
@import './Header.scss';

.title-content-item-container{
    border-style: solid;
    border-color: black;
    width: 90%;
    margin-left: 5%;
    margin-top: 0.2rem;
    border-width: 0.1rem;
}