@import '../../../layout.scss';
@import '../../../colors.scss';

$marginLeftTitleText: 1rem;
$marginLeftTitleText: 1rem;

.celebrity-margin{
    margin-left: $marginLeftTitleText;
    margin-top: $marginLeftTitleText;
}

.celebrity-header-container {
    width: 100%;
    height: auto;
    background-color: $primary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: $marginLeftTitleText;
}

.celebrity-header-img{
    border-radius: 100%;
    background-color: $base-color;
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    padding: 0.5rem;
    object-fit: cover;
}

.celebrity-header-text{
    width: 70%;
    background-color: $base-color;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.celebrity-header-text-celebrity{
    display: flex;
    flex-direction: row;
    font-size: $title-size;
    @extend .celebrity-margin;
}

.celebrity-header-text-rating{
    font-size: $title-size;
    @extend .celebrity-margin;
}

.celebrity-header-text-subtitle{
    font-size: $subtitle-size;
    @extend .celebrity-margin;
}
