.banner-title {
  font-size: 2rem;
}

.banner-div{
  color: var(--primary-color-text);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
  margin-left: 5%;
  width: 80%;
}