@import '../../abstract.scss';

.rate-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    border-radius: $border-radius-sm-sm;
}