@import '../../../layout.scss';
@import '../../../colors.scss';

.top-list-header-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
}
.top-list-header-title{
    font-size: $title-size;
    color: $base-color;
}
.top-list-header-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}