@import '../../../abstract.scss';
@import '../../../layout.scss';

.last-premiere-container{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    position: relative;
}

.last-premier-main-foto{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    cursor: pointer;
}

.last-premier-movie-banner{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 2rem;
    height: 20%;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.last-premier-movie-title{
    font-size: $title-size;
}

.last-premier-movie-sub-title{
    font-size: $subtitle-size;
    margin-left: 1.2rem;
}
