.celebrities-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    background-color: red;
    width: 80%;
    margin-left: 10%;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.celebrities-item-container{
    background-color: blue;
}

.celebrities-item-load-container{
    background-color: blue;
    height: 20rem;
}
