@import '../../colors.scss';
@import '../../layout.scss';

.configuration-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.configuration-form-container{
    display: flex;
    flex-direction: column;
}

.configuration-form-item{
    margin: 1rem;
    height: 2rem;
    font-size: 1.5rem;
}

.configuration-form-title-text {
    font-size: $title-size;
    color: $primary-color;
    font-weight: bolder;
}

.configuration-form-button{
    margin: 1rem;
    height: 2rem;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    color: $base-color;
}

.configuration-form-error-text{
    color: red;
}
