@import '../../colors.scss';

.tops-main-container{
    width: 90%;
    margin-left: 5%;
    height: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    background-color: $primary-color;
}

.tops-entities-container{
    width: 70%;
    margin-left: 5%;
    height: auto;
    
    background-color: $primary-color;
}

.tops-filters-container{
    width: 19%;
    margin-top: 0.5rem;
    margin-left: 0.5%;
    margin-left: 0.5%;
    height: auto;
    background-color: $base-color;
}