.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-align-start{
    align-self: flex-start;
}

.flex-align-center{
    align-self: center;
}

.round-border{
    border-radius: 25px;
}

.border-solid{
    border-width: 2px;
    border-style: solid;
}
