@import "components/Atoms/index.scss";

@import "components/Molecules/index.scss";

@import "components/Organisms/index.scss";

@import "layout.scss";

@import "colors.scss";
@import "base.scss";

a.disabled {
  pointer-events: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: $auxiliar-color;
}

body {
  margin: 0px;
}
